# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binary directories
/bin/
/web-of-trust/bin/
/event-forwarder/bin/
/search-plugin/bin/
/semantic-search/bin/
/embeddings-generator/bin/
/whitelist-plugin/bin/
/profile-builder/bin/
/thread-inference/bin/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Persistent runtime data (databases, volumes)
/data/
/data/strfry-db/
/data/strfry-plugins/
/data/dgraph/

# Editor/IDE
# .idea/
# .vscode/
.structurizr

# macOS garbage
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directory attributes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

